:root {
  --main-font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: var(--main-font);
  font-weight: 100;

}

.list-container {
  display: flex;
  margin: 150px auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.05);
  width: 50%;
}

.list-row {
  display: flex;
  align-items: center;
  border-style: solid;
  border-width: 1px 0 0 0;
  border-color: lightgray;
  height: 50px;
  padding: 0 10px;
  box-sizing: border-box;
  width: 100%;
  justify-content: space-between;
}

.update-icon-container {
  width: 30px;
  height: 30px;
  background-image: url('../images/update.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.input-field {
  border: none;
  font-size: medium;
  font-style: italic;
}

.enter-icon-container {
  width: 20px;
  height: 20px;
  background-image: url('../images/enter.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.mylist {
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  width: 100%;
}

.task-container {
  gap: 20px;
  width: inherit;
}

.task-description {
  width: 100%;
  text-align: left;
}

.task-icon-container {
  width: 15px;
  height: 40px;
  background-image: url('../images/delete.png');
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.icon-container:hover {
  rsor: pointer;
}

.clear-button-container {
  dding: 0;
}

.clear-button {
  width: 100%;
  height: 100%;
  border: none;
  color: grey;
}

.clear-button:hover {
  cursor: pointer;
}
