:root {
  --main-font: sans-serif;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: white;
  font-family: var(--main-font);
  font-weight: 100;
}

.list-container {
  display: flex;
  margin-top: 150px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.mylist {
  display: flex;
  flex-direction: column;
  box-shadow: 0 4px 5px 2px rgba(0, 0, 0, 0.05);
  width: 50%;
  list-style: none;
  margin: 0;
}

.task-container {
  width: inherit;
  height: 50px;
  border-style: solid;
  border-width: 1px 0 0 0;
  display: flex;
  align-items: center;
  border-color: lightgray;
  gap: 20px;
  padding: 0 10px;
}
